@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: linear-gradient(90.21deg, rgba(0, 0, 0, 1.5) -5.91%, rgba(0, 0, 140, 0.5) 111.58%);

 
}

main {
  background: linear-gradient(90.21deg, rgba(0, 0, 0, 1.5) -5.91%, rgba(0, 0, 140, 0.5) 111.58%);
  height: 100vh;
  height: 100dvh;

}
/* Ocultar las barras de desplazamiento, pero permitir el scroll */
::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-3d-primary {
    color: #ffffff;
    text-shadow:
      2px 2px 0px #000000,
      4px 4px 0px #000000,
      6px 6px 0px #000000,
      8px 8px 0px rgba(255, 27, 0, 1); /* color de sombra para el efecto 3D */
    transition: text-shadow 0.3s ease;
  }

  .text-3d-secondary {
    color: rgba(255, 27, 0, 1);
    text-shadow:
      2px 2px 0px #000000,
      4px 4px 0px #000000,
      6px 6px 0px #000000,
      8px 8px 0px #ffffff; /* color de sombra para el efecto 3D */
    animation: flash 1.5s infinite ease-in-out; /* Animación de parpadeo */
    transition: text-shadow 0.3s ease;
  }

  /* Aquí es donde añades las clases para ocultar en dispositivos móviles y tabletas */
  .text-3d-primary,
  .text-3d-secondary {
    @apply hidden; /* Ocultar en pantallas pequeñas y medianas */
  }

  /* Mostrar en pantallas grandes */
  @media (min-width: 768px) {
    .text-3d-primary,
    .text-3d-secondary {
      @apply inline; /* Mostrar en pantallas de tamaño md o superior */
    }
  }

  .text-3d-primary:hover,
  .text-3d-secondary:hover {
    text-shadow:
      2px 2px 0px rgba(255, 27, 0, 1),
      4px 4px 0px #ffffff,
      6px 6px 0px #ffffff,
      8px 8px 0px rgba(255, 27, 0, 1),
      10px 10px 0px rgba(255, 27, 0, 1);
  }

  /* Efecto de transparencia en hover */
  .image-hover-opacity {
    transition: opacity 0.3s ease;
  }

  .image-hover-opacity:hover {
    opacity: 0.8; /* Ajusta el nivel de transparencia según prefieras */
  }

  /* Estilos para el botón principal */
  .btn-5 {
    position: relative;
    width: 130px; /* Ajusta el tamaño del botón */
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    color: #fff;
    text-align: center;
    text-decoration: none; /* Eliminar el subrayado por defecto de los links */
    display: inline-block;
    border-radius: 5px;
    transition: all 0.4s ease; /* Para que el hover se vea suavemente */
  }

  /* Efecto de hover */
  .btn-5:hover {
    color: #f0094a; /* Cambia el color del texto al pasar el mouse */
    background: transparent;
    box-shadow: none;
  }

  /* Creación de las líneas animadas (antes y después del hover) */
  .btn-5:before,
  .btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
      -1px -1px 5px 0px #fff,
      7px 7px 20px 0px rgba(0, 0, 0, 0.3),
      4px 4px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 400ms ease all;
  }

  /* Lado inferior */
  .btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  /* En el hover, las líneas se expanden */
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

  /* Animación de parpadeo para el texto DeV */
  @keyframes flash {
    0% {
      text-shadow:
        2px 2px 0px #000000,
        4px 4px 0px #000000,
        6px 6px 0px #000000,
        8px 8px 0px rgba(255, 27, 0, 1); /* color sombra inicial */
      opacity: 1;
    }
    50% {
      text-shadow:
        2px 2px 0px #ffffff,
        4px 4px 0px #ffffff,
        6px 6px 0px #ffffff,
        8px 8px 0px rgba(255, 27, 0, 1); /* más brillante */
      opacity: 1;
    }
    100% {
      text-shadow:
        2px 2px 0px #000000,
        4px 4px 0px #000000,
        6px 6px 0px #000000,
        8px 8px 0px rgba(255, 27, 0, 1); /* regresa a la normalidad */
      opacity: 1;
    }
  }
}
/* Leyenda flotante cerca del mouse */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
  color: white;
  margin-bottom: 10px;
  padding: 5px 45px;
  font-size: 0.875rem; /* Tamaño de fuente más pequeño */
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transición suave */
  pointer-events: none;
}

/* Mostrar la leyenda solo cuando el mouse está sobre el ítem */
.relative:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
